<div id="tacs" class="transitions-enabled">
  <% @tacs.each do |tac| %>
    <div class="box panel panel-default"> 
      <div class="panel-body">
        <%= image_tag tac.image.url(:medium) %>
        <%= tac.description %>
        <%= tac.user.email %>
        <%= link_to 'Show', tac %>
        <% if tac.user == current_user %>
          <%= link_to 'Edit', edit_tac_path(tac) %>
          <%= link_to 'Destroy', tac, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
